<div class="row">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <div class="input-field col s3">
                <input formControlName="fecha" id="fecha" type="text">
                <label for="fecha">Fecha</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="nombreTrabajo" id="nombreTrabajo" type="text">
                <label for="nombreTrabajo">Nombre del Trabajo</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="descripcion" id="descripcion" type="text">
                <label for="descripcion">Descripcion</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="modalidadId" id="modalidadId" type="number">
                <label for="modalidadId">Modalidad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input formControlName="areaInvestigacionId" id="areaInvestigacionId" type="number">
                <label for="areaInvestigacionId">Linea de Investigacion</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="tipoSolicitudId" id="tipoSolicitudId" type="number">
                <label for="tipoSolicitudId">Tipo de solicitud</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="proponenteId" id="proponenteId" type="number">
                <label for="proponenteId">Proponente</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/request/request-list" class="btn btn-danger red">Cancelar</a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-danger green">Guardar</button>
            </div>
        </div>
    </form>
</div>