<<div class="row">
    <form [formGroup]="form" class="col s12">
        <input type="hidden" formControlName="id" />
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="nombre" id="nombre" type="text">
                <label for="nombre" class="active">Nombre</label>
            </div>
            <div class="input-field col s6">
                <select id="selFaculty" formControlName="facultadId">
                    <option *ngFor="let f of facultyList" value="{{f.id}}">{{f.nombre}}</option>
                </select>
                <label>Facultad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/parameters/department-list" class="btn btn-danger red">Cancelar</a>
            </div>
            <div class="input-field col s10">
                <button (click)="EditRecord()" class="btn btn-danger green">Guardar</button>
            </div>
        </div>
    </form>
    </div>