<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 center-align">
                <input class="btn btn-warning blue" type="file" value="Seleccionar" (change)="OnChangeInputFile($event)"> &nbsp;
                <button class="btn" (click)="UploadFile()">Cargar Formato</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="nombre" id="nombre" type="text">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input type="text" formControlName="formato">
                <label for="formato" class="active">Formato</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/parameters/type-of-request-list" class="btn btn-danger red">Cancelar</a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-danger green">Guardar</button>
            </div>
        </div>
    </form>
</div>