<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <label>Esta seguro de eliminar el registro con la siguiente informacion: </label>
            <br />
            <ul>
                <li>
                    <strong class="red-text">Id:</strong> {{id}}
                </li>
                <li>
                    <strong class="red-text">Fecha:</strong> {{fecha | date : 'short'}}
                </li>
                <li>
                    <strong class="red-text">Nombre del Trabajo:</strong> {{nombreTrabajo}}
                </li>
                <li>
                    <strong class="red-text">Descripcion:</strong> {{descripcion}}
                </li>
                <li>
                    <strong class="red-text">Modalidad:</strong> {{modalidadId}}
                </li>
                <li>
                    <strong class="red-text">Linea de Investigacion:</strong> {{areaInvestigacionId}}
                </li>
                <li>
                    <strong class="red-text">Tipo de Solicitud:</strong> {{tipoSolicitudId}}
                </li>
                <li>
                    <strong class="red-text">Archivo Zip:</strong> {{archivoZip}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">
            <a routerLink="/request/request-list" class="btn btn-danger red">Cancelar</a>
        </div>
        <div class="input-field col s10">
            <button (click)="RemoveRecord()" class="btn btn-danger green">Confirmar</button>
        </div>
    </div>
</div>