<div class="section"></div>
<main>
    <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
            style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12" [formGroup]="form">
                <div class='row'>
                    <div class='col s12'>
                    </div>
                </div>
                <input value="{{_id}}">
                
                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName="password_Ac" class='validate' type='text' name='password_Ac' id='password_Ac' />
                        <label for='password_Ac'>Contraseña Actual</label>
                        <div *ngIf="GetForm['password_Ac'].errors && (GetForm['password_Ac'].dirty || GetForm['password_Ac'].touched)" class="error-message">
                            <label>Por favor ingrese la contraseña valida</label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName="New_password" class='validate' type='text' name='usuario' id='New_password' />
                        <label for='New_password'>Nueva Contraseña</label>
                        <div *ngIf="GetForm['New_password'].errors && (GetForm['New_password'].dirty || GetForm['New_password'].touched)" class="error-message">
                            <label>Por favor ingrese la nueva contraseña válida</label>
                        </div>
                    </div>
                </div>


                <br />
                <div class='row center'>
                    <button [disabled]="GetForm['New_password'].errors " type='button'
                        (click)="ChangePassword()" name='btn_login'
                        class='col s12 btn btn-large waves-effect'>Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</main>
