<nav>
    <div class="nav-wrapper teal lighten-2">
        <a routerLink="home" class="brand-logo">Inicio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li ><a  routerLink="">Proponente</a></li>
            <li ><a routerLink="request/request-list">Solicitud</a></li>
            <li ><a routerLink="evaluation/evaluation-list">Evaluacion</a></li>
            <li *ngIf="session"><a routerLink="reports/report-list">Reportes</a></li>
            <li *ngIf="!session"><a routerLink="security/login">Login</a></li>
            <li *ngIf="session"><a routerLink="security/logout">Logout</a></li>
            <li *ngIf="session"><a routerLink="security/reset-password">Recuperar Contraseña</a></li>
            <li *ngIf="session"><a routerLink="security/change-password">Cambiar Contraseña</a></li>
            <li *ngIf="session"><a routerLink="security/user-list">Usuario</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="">Proponente</a></li>
    <li><a routerLink="request/request-list">Solicitud</a></li>
    <li><a routerLink="evaluation/evaluation-list">Evaluacion</a></li>
    <li *ngIf="session"><a routerLink="reports/report-list">Reportes</a></li>
    <li *ngIf="!session"><a routerLink="security/login">Login</a></li>
    <li *ngIf="session"><a routerLink="security/logout">Logout</a></li>
    <li *ngIf="session"><a routerLink="security/reset-password">Recuperar Contraseña</a></li>
    <li *ngIf="session"><a routerLink="security/change-password">Cambiar Contraseña</a></li>
    <li *ngIf="session"><a routerLink="security/user-list">Usuario</a></li>
</ul>